@import "libs/variable.scss";
@import "libs/tools.scss";


*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 70%;
    margin: 0 auto;
}
.hide{
    display: none;
}

nav{
    background-color: $background;
    width: 100%;
    box-shadow: 1px 1px 5px $shadow;
    position: fixed;

    .navbar{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 100px;
    }

    .logo-titre{
        display: flex;
        align-items: center;

        h1{
            color: $thirdary;
            font-size: 40px;
            text-shadow: 1px 1px 2px $shadow;
            font-family: 'barlow';

            .orange{
                color: $primary;
            }
        }

        img{
            width: auto;
            height: 80px;
        }
    }

    ul{
        display: flex;
        list-style-type: none;
        li{
            width: 100px;
            font-size: 20px;
            font-family: barlow;
            font-weight: 600;

            a{
                color: $text;
                text-decoration: none;
            }
        }
    }

    &.scroll{
        width: 70%;
        margin-top: 10px;
        border-radius: 10px 100px / 120px;
   	    transition: 2s;
    }
}

header{
    height: 600px;
    width: 100%;
    background-image: url(../image/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
    box-shadow: 1px 4px 10px $shadow;
}

.presentation{
    margin: 100px 0 100px 0;
    display: flex;
    justify-content: space-between;

    .left{
        width: 50%;
        margin-right: 20px;

        h1{
            color: $thirdary;
            font-size: 70px;
            text-shadow: 1px 1px 2px $shadow;
            font-family: 'barlow';
            font-weight: bold;

            .orange{
                color: $primary;
            }
        }

        p{
            @extend %p;
            margin-top: 20px;
            line-height: 1.5;
        }
    }
    
    .right{
        width: 50%;
        margin-left: 20px;

        .logo{
            width: 100%;
        }
    }
}

#article{
    width: 100%;
    padding: 50px 0;
    margin-bottom: 100px;

    #filter_navigation{
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        li{
            font-size: 20px;
            color: $text;
            padding: 10px 20px;
        }

        .active{
            background-color: $background;
            border: 1px solid $text;
        }
    }

    .presentation-article{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;

        .image-tapissage{
            width: 48%;
            height: 400px;
            background-image: url(../image/papierPeint.jpeg);
            background-size: cover;
        }

        .image-travaux{
            width: 48%;
            height: 400px;
            background-image: url(../image/planning.jpg);
            background-size: cover;
        }

        .image-couleur{
            width: 48%;
            height: 400px;
            background-image: url(../image/couleur.jpg);
            background-size: cover;
        }

        .image-lessivage{
            width: 48%;
            height: 400px;
            background-image: url(../image/nettoyer.jpg);
            background-size: cover;
        }

        .image-enduisage{
            width: 48%;
            height: 400px;
            background-image: url(../image/enduisage.jpg);
            background-size: cover;
        }

        .contenue{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 48%;
            @extend %h2;
            @extend %p;

            ul{
                padding-left: 20px;
            }
        }

        div{
            h2{
                margin-bottom: 10px;
            }
        }
    }

    .suite-article{
        @extend %h2;
        @extend %p;

        div{
           margin: 40px 0;

           h2{
            margin-bottom: 10px;
           }

           ul{
            padding-left: 20px;
           }
        }

        table{
            th{
                background-color: $background;
                width: 15%;
                
            }
        }
    }

    .autre-format{
        h3{
            @extend %h2;
            text-align: center;
            margin-bottom: 40px;
        }
    }
}

footer{
    background-color: $background;
    width: 100%;
    margin-top: 100px;

    .footer{
        display: flex;

        .logofooter{
            height: 200px;
            width: auto;
            margin-top: -70px;
        }

        .information{
            text-align: right;
            margin: auto 0;
            width: 100%;
            font-size: 20px;
            font-family: 'barlow';
            color: $text;
        }
    }

    .line{
        width: 50%;
        border: 1px solid $thirdary;
        margin: 0 auto;
    }

    .copyright{
        text-align: center;
        color: $text;
        margin-bottom: 10px;
        font-size: 15px;
        margin-top: 20px;
    }
}
